@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
    left: 3% !important;
    /* not important - if there is any error this code is ignored */
    z-index: 1;
    background-color: rgb(245, 230, 211);
}

.slick-next {
    right: 3% !important;
    z-index: 1   
    /* z index is to show the arrow above the image */
}


/* slick prev  and slick next is one of the properties that slick carousal uses */